<h1 class="main-header"><%= @event.name %></h1>

<ul class="event-metadata">
  <li>Created by: <%= link_to @event.creator.name, @event.creator %></li>
  <li>Date: <%= @event.date %></li>
  <li>Location: <%= @event.location %></li>
</ul>

<h3>Description</h3>
<p><%= @event.description %></p>

<h3>Attend Event?</h3>
<%= button_to "Click to attend",
    event_attendances_path(event_attendance: { attended_event_id: @event.id }, method: :post),
    class: "btn btn--secondary"
%>

<h3>Attendees</h3>
<ul>
  <% @event.attendees.each do |att| %>
    <li>
      <%= att.name %>
    </li>
  <% end %>
</ul>
