<main class="container">
  <h1 class="main-header"><%= @event.name %></h1>

  <div class="card">
    <%= render partial: "event_metadata", locals: { event: @event, class_modifier: 'top' }  %>
    <h3 class="card__heading">Description</h3>
    <p class="card__description"><%= @event.description %></p>
    <div class="card__actions">
      <% if current_user == @event.creator && @event.future? %>
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn--secondary" %>
        <%= link_to "Cancel",
            event_path(@event),
            data: { turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to cancel this event?" },
            class: "btn btn--secondary" %>
      <% else %>
        <% if @event.future? %>
          <h4>Would you like to attend?</h4>
          <%= button_to "Click Here!",
              event_attendances_path(event_attendance: { attended_event_id: @event.id }, method: :post),
              class: "btn btn--secondary"
          %>
        <% end %>
      <% end %>
    </div>
  </div>

  <h3>Attendees</h3>
  <ul>
    <% @event.attendees.each do |att| %>
      <li>
        <%= att.name %>
      </li>
    <% end %>
  </ul>
</main>
